div.primeira {
    background-color: orange;
    border: green;
}

div.segunda {
    background-color: purple;
    border-bottom: yellow;
    border-top: yellow;
    border-left: brown;
    border-right: brown;
}