.verde {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    width: 200px;
    height: 200px;
    background-color: green;
    border: 5px solid black;
}

.vermelho {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
    width: 100px;
    height: 100px;
    background-color: red;
    border: 1px solid black;
}

.azul {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 3;
    width: 100px;
    height: 100px;
    background-color: blue;
    border: 1px solid black;
}